$themes: (
  theme-default: (
    font-primary: #0171f6,
    card-primary: #f1f6fe,
  ),
  theme-red: (
    font-primary: #fe3a2f,
    card-primary: #ddedff,
  ),
);

//主题色函数
@mixin themify($themes) {
  @each $theme, $map in $themes {
    .#{$theme} & {
      $theme-map: () !global;

      @each $key, $value in $map {
        $theme-map: map-merge(
          $theme-map,
          (
            $key: $value,
          )
        ) !global;
      }

      @content;

      $theme-map: null !global;
    }
  }
}

@function themed($key) {
  @return map-get($theme-map, $key);
}
